# Get gpu version if you have a gpu available, else cpu will just do fine.
torch==2.0.0
torchvision==0.15.1

tqdm==4.65.0
#seaborn==0.12.2
numpy==1.23.5
pandas==1.5.2
streamlit==1.21.0
matplotlib==3.6.2
